<template>
  <div class="email-validation" >
    <v-layout row my-5>
      <v-flex xs12 sm6 offset-sm3>

        <v-dialog v-model="dialogFlag">
          <v-card>
            <v-card-text>
              <h3>Invalid email address</h3>
            </v-card-text>
          </v-card>
        </v-dialog>

        <v-card class="blue lighten-5">
          <v-card-text>
            <v-container>

              <v-form>
                <v-text-field
                  label="Email"
                  v-model="emailValidationForm.email"
                ></v-text-field>

                <v-btn class="blue" v-on:click="submitForm()">
                  submit
                </v-btn>
              </v-form>

            </v-container>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-text v-if="msgFlag">
            Email is correct
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>

  </div>
</template>

<script>
  import {postEmailValidation} from 'api/email'

  export default {
    data() {
      return {
        msgFlag: false,
        dialogFlag: false,
        message: '',
        emailValidationForm: {
          email: ''
        }
      }
    },
    methods: {
      submitForm() {
        postEmailValidation(this.emailValidationForm.email).then(res => {
          this.msgFlag = true
          this.dialogFlag = false
        }).catch(err => {
          console.log(err)
          this.msgFlag = false
          this.dialogFlag = true
        })
      }
    }
  }
</script>

<style scoped>
</style>
